.content {
    max-width: 1300px;
    margin: 0 auto;
}
.content--wrapper {



}

.article {
    display: grid;
    grid-template-columns: 120px auto 3px 1fr;

    gap: 1rem;
}

.article__header {
    align-content: center;
    text-align: center;
    align-self: end;
}

.article__footer {
    align-content: center;    
}

.header1, .header2, .header3 {
    
}

.body1 {
    
}

.body2 {
    
}

.body3 {
    
}

.footer1 {
    
}

.footer2 {
    
}

.footer3 {
    
}

.article-item {
    content: "";
    display: block;
    width: 3px;
    height: 80px;
    padding: 0;
    background-color: black; 
    align-self: center;

}

.item1 {
    
    
}

.item2 {
    
    
}

.item3 {
    
    
}

